annotated-types==0.7.0
dateutils==0.6.12
dnspython==2.8.0
email-validator==2.3.0
greenlet==3.2.4
idna==3.10
iniconfig==2.1.0
packaging==25.0
pluggy==1.6.0
pydantic==2.11.9
pydantic_core==2.33.2
Pygments==2.19.2
pytest==8.4.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.43
sqlmodel==0.0.25
typing-inspection==0.4.1
typing_extensions==4.15.0
